# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\PostGraduate_Guangzhuo\2022-研三\论文复现\Hyperspectrum_images_classification\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
